# General build
.qmake.stash
Makefile
*.o
moc_*
qrc_*
ui_*
build

# Linux build
DFTFringe

# Windows build
Makefile.Debug
Makefile.Release
object_script.DFTFringe.Debug
object_script.DFTFringe.Release
release

# Mac related
.DS_Store
Desktop.ini
._*
.Spotlight-V100
.Trashes

# Qt Creator related
DFTFringe.pro.user
