<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>DFTFringe</Name>
    <Version>MY_AUTOMATED_VERSION_STRING</Version>
    <Title>DFTFringe Installer</Title>
    <Publisher>githubdoe</Publisher>
    <StartMenuDir>DFTFringe</StartMenuDir>
    <TargetDir>@HomeDir@/DFTFringe</TargetDir>
</Installer>
