name: build-linux
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
  workflow_call:

env:
  QWT_version: 6.3.0

jobs:
  build-linux:
    permissions:
      contents: read
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt update
      - run: sudo apt install -y apt-utils build-essential wget qt6-base-dev-tools qt6-declarative-dev qt6-multimedia-dev libqt6charts6-dev libqt6datavisualization6-dev libqt6svg6-dev libopencv-core-dev libopencv-dev libqwt-qt5-6 libqwt-qt5-dev libarmadillo-dev libgl1-mesa-dev libglu1-mesa-dev bear
      - run: wget -O qwt-${{env.QWT_version}}.zip https://sourceforge.net/projects/qwt/files/qwt/${{env.QWT_version}}/qwt-${{env.QWT_version}}.zip/download?use_mirror=pilotfiber
      - run: 7z x qwt-${{env.QWT_version}}.zip
      - run: cd qwt-${{env.QWT_version}} ; /usr/lib/qt6/bin/qmake
      - run: cd qwt-${{env.QWT_version}} ; make -j4
      - run: cd qwt-${{env.QWT_version}} ; sudo make install
      - run: /usr/lib/qt6/bin/qmake DFTFringe.pro
      - uses: ammaraskar/gcc-problem-matcher@master
      - run: echo "::add-matcher::.github/matcher/uic_matcher.json"

      - name: capture compile_commands.json from build
        run: bear -- make -j4
      - run: echo "::remove-matcher owner=uic-problem-matcher::"

      - name: Run C++ Linter (clang-tidy)
        if: strategy.job-index == 0 #run only for first OS of the matrix
        uses: cpp-linter/cpp-linter-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: '' # we don't want check from clang-format
          lines-changed-only: 'true' # Only lines in the diff that contain additions are analyzed. Avoid noise from existing code.
          thread-comments: 'update'
          tidy-checks: '' # rely solely on .clang-tidy file
          tidy-review: true
          passive-reviews: true
          ignore: 'bezier|boost|SingleApplication|spdlog|zernike|moc_*|ui_*|qwt*'
